[2020-12-30 13:34] Derpford opened #1 "Feature Request: Recipe rebalance"
As it stands, several armors are just not worth crafting due to the way their recipes work. For instance, the Scale set is completely useless--it provides as much armor as iron, but because each piece requires 4 Iron Scales and the respective leather piece, the set costs the equivalent of an iron chestplate for each piece! Despite this, it only provides 3 armor on the chestplate and leggings and 2

[2020-12-30 14:03] chronosacaria commented on #1
Thank you so much for this feedback! As I've said, Mcda is in beta and this kind of feedback is exactly what I am looking for. In many respects, I was trying to get the content in first and the make the tweaks later; so this is awesome! :)

[2020-12-31 08:53] Blindbewm opened #2 "Iron Scale and Shears Use Same Recipe"
Hi, just wanting to bring this up since I've just noticed it yesterday when I was needing to craft some shears. After I crafted Iron scales once to discover the recipe, when I try to craft shears afterward since they both use the same recipe I'm not able to craft shears at all. It will always craft iron scale even if I select Shears in the crafting window. Could you possibly change the required po

[2020-12-31 14:11] chronosacaria commented on #2
Yeah, sorry about that. This will be resolved in the next update

[2020-12-31 15:35] #2 closed

[2021-02-07 21:35] chronosacaria opened #3 "More Piglin Woes"
A crash happens when a piglin tries to fire a crossbow

[2021-02-07 21:39] #3 closed

[2021-02-26 05:54] Lucipo opened #8 "Fall Damage Disabled in Survival/Multiplayer"
fabric
1.16.5
just happens
removed this mod, it worked, added it back, it didnt work

log: [https://pastebin.com/HPiTngMP](url)

[2021-02-26 18:07] chronosacaria commented on #8
Clearly there is a conflict happening, but when I test with just my mod (and a few others that I have for testing), I can take fall damage both in single player and on a server. Could you provide a list of the mods that you're using?

It is also possible that I have fixed this issue in the development version that I have. I'll be releasing an update later today (possibly) and that might solve your

[2021-02-26 18:50] Lucipo commented on #8
oops I meant to put a pastebin idk why it linked back here

the actual one:

[pastebin](https://pastebin.com/HPiTngMP)

[2021-02-26 19:22] chronosacaria commented on #8
As I said, when I tested my mod this issue was not present. I have released an update on CurseForge that might solve your issue. If it does not, please provide a list of the mods that you are using so that I can try to narrow down where the conflict is.

[2021-02-27 01:38] Lucipo commented on #8
Tested new version, issue still persists.

modpack if u wanna test yourself (it might be v1.1 when you see this since curseforge takes ages to review files with server packs)
https://www.curseforge.com/minecraft/modpacks/neoteric-vanilla

The pastebin I sent has the mod list in it, just have to scroll

[2021-02-27 17:46] chronosacaria commented on #8
Well, @Lucipo, I just tested your pack with my mod and I can, indeed, take fall damage. Something must be wrong with your instance. Tbh, I am really not sure what else to tell you since every time I've tried (even using your modpack) I cannot reproduce this issue.

[2021-02-28 11:53] Lucipo commented on #8
I was honestly expecting curseforge to finally allow my update with the mods to release but its been 3 days and im still waiting so I will get back to you once everything is there for testing.

[2021-02-28 13:06] Lucipo commented on #8
Pack is updated and approved now, dunno how long it will take for curseforge app to update. I added the mod to v1.0 and fall damage is there but in v1.1 it doesnt work so its definitely one of the listed updated or added mods in the v1.1 changelog.

[2021-03-13 21:54] chronosacaria commented on #8
As I have been unable to reproduce this issue this issue will be considered closed for the time being.

[2021-03-13 21:54] #8 closed

[2021-03-19 12:06] Nervict opened #9 "Some boots are in different position"
Some boots are fine and some are not, such as Spelunker (First Image), compared to Sprout boots (Second Image).
![image](https://user-images.githubusercontent.com/80960045/111777696-58a24680-88ff-11eb-93e3-fe5e6e115ea0.png)
![image](https://user-images.githubusercontent.com/80960045/111777713-5d66fa80-88ff-11eb-9c34-54a336991b29.png)

[2021-03-19 13:25] chronosacaria commented on #9
It is interesting that you brought this up. I asked my artist about this and I was told that everything is, indeed, where it should be. It is just that some of the armours in Minecraft Dungeons don't have boots. I really should rename some of them to reflect this discrepancy. I really appreciate you bringing this to my attention, though. The pictures help a great deal

[2021-03-19 16:29] Nervict commented on #9
Glad that you answered! Yeah, I've played MCD myself, but some of these boots look like you have a belt or thigh pads. I'll be waiting for the patch.

[2021-03-21 17:57] #9 closed

[2021-06-07 20:46] TheGreatCatAdorer opened #10 "Suggestion: Rename the Cowardice enchantment to Confidence"
This signals better how the enchantment works and makes it more clearly a positive enchantment.

[2021-06-07 20:55] chronosacaria commented on #10
It is actually called that in MC Dungeons which is why it is called that in the mod. I do appreciate the feedback, though

[2021-06-07 20:55] #10 closed, assigned to nobody

[2021-06-22 02:41] ghost opened #11 "Recipe Error"
The crafting recipe for the Soul Leggings seem to be meant for the Soul Hood and the Soul Hood crafting recipe is seems to be meant for the Soul Leggings, also the Soul Leggings recipe has it so it crafts the Soul Hood leaving no way to craft the Soul Leggings.
Apologies if I didn't say the problem clearly enough.

[2021-06-22 03:03] chronosacaria commented on #11
Thanks for catching this. I'll take a look at it tomorrow. 🙂

[2021-06-22 18:35] #11 closed, assigned to chronosacaria

[2021-06-26 22:29] Alkiasan opened #12 "Feature Request: Toggle for Fire Trail"
Fire trail is a great enchant, but can be come difficult to deal with in bases and stuff when it's burning everything down.
Not only that, but when doFireTick is off, the fire never disappears.
I was wondering if it was possible to add a keybind or something to toggle the fire trail as a QOL feature?

[2021-06-27 17:41] chronosacaria commented on #12
This is a very fair criticism and something that I am looking into. I appreciate you opening an issue as it will help me remember. I like the idea of a keybind and I'll look into learning how to do this and seeing if it is feasible. Thanks, so much, for the feedback! :)

[2021-07-09 00:58] Derpford opened #13 "CurseForge: MCD Armors 1.5 marked as compatible with 1.16.3, requires 1.16.5"
As it says on the tin. I'm trying to use CurseForge's launcher to build a modpack and it's automatically selecting versions that require 1.16.5 in my 1.16.3 pack because of this labeling issue.

[2021-07-09 01:00] Derpford commented on #13
Correction: The modid `mcdar` might refer to [MC Dungeons Artifacts](https://github.com/chronosacaria/MCDungeonsArtifacts). Yeah. It's confusing.

[2021-07-12 15:07] chronosacaria commented on #13
Yeah, it can be a bit confusing. This was fixed. Thanks for mentioning this :)

[2021-07-12 15:07] #13 closed, assigned to nobody

[2021-07-12 21:10] Julyoso opened #14 "HUGE HUGE ISSUE!"
i downloaded mc dungeons armors and weapons with the CHARM mod. The mcdw works fine with it but with the mcda, THE GAME CRASHES WHEN I DIE. also when you die, your items wouldnt drop AT ALL. even the totem of preserving isnt dropping as you die (which is included in the CHARM mod).

[2021-07-13 07:35] SplendidAlakey commented on #14
mcda-1.7.1 changelog states that the issue was fixed, but it wasn't. Crash log: [crash-2021-07-13_09.25.58-server.txt](https://github.com/chronosacaria/MCDungeonsArmors/files/6806790/crash-2021-07-13_09.25.58-server.txt).

Last working version is mcda-1.6.4.

<details>
  <summary>Modlist</summary>
[1.17]+Magic+Mirror+1.3.1

Adorn-2.1.1+1.17.1-fabric
advancements-enlarger-0.2.4
amecs-1.3.4+mc.1.17

[2021-07-13 19:13] chronosacaria commented on #14
I thought I had resolved this issue as I could not reproduce the crash again. I'll take another look at this. Thanks for posting this

[2021-07-13 19:23] chronosacaria commented on #14
Okay, this time I have it fixed. Thanks again for this bug report. I'll be releasing the fix in a few minutes on CurseForge.

[2021-07-13 19:23] #14 closed, assigned to nobody

[2021-07-17 09:01] Julyoso commented on #14
THANKS!!!

[2021-07-17 09:02] Julyoso commented on #14
btw does 1.17 mods work for 1.17.1?

[2021-07-17 11:53] chronosacaria commented on #14
Yeah, it should work on both. It sends on how the author made one of the files, though. If they made them properly, they should work

[2021-08-24 19:04] itsdinkd opened #15 "Bundling NBTCrafting causing error ruining REI"
There is an issue with either MCDW or MCDA that is causing a error within NBTCrafting (I imagine you have it bundled as no other mod I have enabled does) when joining a server this error occurs and renders REI unavailable, not showing anything when opening inventory on the REI interface. You are forced to join a single player world and then join back into the MP Server to allow REI to work and sho

[2021-08-24 19:15] chronosacaria commented on #15
Well, I don't have NBTCrafting bundled with any of my mods, so I am not sure why that would be happening. I need the full crash log if I am going to be able to help, though

[2021-08-25 13:06] chronosacaria commented on #15
As I have not bundled NBTCrafting with any of my mods and there has been no response, I am going to close this issue

[2021-08-25 13:06] #15 closed, assigned to chronosacaria

[2021-09-06 02:53] WyLL-Code opened #16 "Ocelot Pelts and Wolf Fur and Phantom drops are much rarer than they should be"
Verison: 1.17.1

Mod List:
Mob Origins (by UltrusBot)
Cloth Config API (Fabric) (by shedaniel)
Pehkui (by Virtuoel)
Architectury API (Fabric) (by shedaniel)
AppleSkin (by squeek502)
Bits And Chisels (by cool_mineman)
MC Dungeons Weapons (by chronos_sacaria)
MC Dungeons Armors (by chronos_sacaria)
Fabric API (by modmuss50)
No Enchant Cap (by AmyMialee)
Tax Free Levels (by Fourmisain)
Origins: Class

[2021-09-17 20:50] Globox1997 opened #17 "Performance Suggestion"
I just checked a little bit of your code cause I have a bug with one of my mods (LevelZ) and saw you call quite a lot of checks every serverplayertick which isn't really performance friendly here: [https://github.com/chronosacaria/MCDungeonsArmors/blob/1.17/src/main/java/chronosacaria/mcda/mixin/ServerPlayerEntityMixin.java](https://github.com/chronosacaria/MCDungeonsArmors/blob/1.17/src/main/java

[2021-09-24 03:46] GamerChef424 opened #18 "Game Crashing"
I keep getting a error message whenever I try to load into minecraft from the launcher. it says

"The game crashed whilst initializing game
Error: java.lang.RuntimeException: Could not execute entrypoint stage 'main' due to errors, provided by 'mcda'!
Exit Code: -1"

Is there anything I can do to fix this?

[2021-09-26 13:06] chronosacaria commented on #18
Can I have a log please?

[2021-09-28 14:21] chronosacaria commented on #18
If I don't have a log by the end of the day I am going to have to close this issue

[2021-09-28 15:00] Globox1997 commented on #17
That commit looks better than before :)
I still have a recommendation: instead of mixin into the player tick method, there is a method called inventorytick of an item which can get overriden by your armor items.
To maximize performance, you could use one item of each armor group which gives an effect and check inside the inventory tick if all other required armor pieces are in the armor slot while

[2021-09-28 18:52] chronosacaria commented on #17
I didn't even know that was possible. That is pretty awesome! I'll have to look into that

[2021-09-29 14:14] ThatOneMoon opened #19 "Textures not showing up on various armor pieces"
The following armor pieces seem to have some issue with the textures when equiped on the player:
Spider Mask: shows up as a iron helmet
Spider Vest : shows up as a iron chestplate
Spider Belt : textures are incorrect (show up as white)
Wither Helmet/Chestplate: Textures dont show up at all (looks like player has not equiped anything)
Wolf/Black Wolf/Fox/Arctic Fox Leggins:  the feet/bottom are not

[2021-09-29 14:19] chronosacaria commented on #19
Please provide your mod list. It will help me troubleshoot. The issue is some kind of conflict

[2021-09-29 14:20] #18 closed, assigned to nobody

[2021-09-29 17:11] ThatOneMoon commented on #19
![Modlist2](https://user-images.githubusercontent.com/91613003/135316843-c256ac1d-1dd3-4778-9c75-4ecfbc963a01.png)
![Modlist3](https://user-images.githubusercontent.com/91613003/135316847-884a7463-beed-4607-9cb1-b8726efaad59.png)
![Modlist1](https://user-images.githubusercontent.com/91613003/135316849-c7eb1fd8-860f-47e1-ab71-930e687e7f92.png)

[2021-09-29 17:12] ThatOneMoon commented on #19
not really sure what other way i could have done this (first time useing github)

[2021-09-29 18:09] chronosacaria commented on #19
That's fair. It would have been easier if it were typed because I am partially blind and my screen reader cannot read the images, but I'll do what I can 🙂

[2021-09-29 18:12] chronosacaria commented on #19
Ahh, try without Dashloader and let me know if that solves the problem, please

[2021-10-04 19:56] chronosacaria commented on #19
Due to lack of a response and with almost certainty that the issue is caused by Dashloader, this issue will be closed

[2021-10-04 19:56] #19 closed, assigned to nobody

[2021-10-05 17:10] #16 closed, assigned to nobody

[2021-10-08 02:38] AllenWorker opened #20 "Chilling Enchantment"
Server use PvP toggle
https://github.com/manyrandomthings/pvp-toggle

when two player have pvp on, the Chilling Enchantment works fine
but when one or both player has pvp off (should not damage each other), there is no damage but the Chilling still affect to the player and the effect never disappear (the counter stay at 0:00 and last forever) unless reconnect.

also want to ask about Heal Allies E

[2021-10-08 15:37] chronosacaria commented on #20
Hey, @AllenWorker! I'll definitely look into this. Do you know if the actual effect is active or if it is just showing the effect card?

As far as the Heal Allies Enchantment, you need to make sure that you are on the same `/team`. So you'll need to use the `/team` command and set one up. As long as that is the case it will work. The way that it works, though, is whenever the person with the encha

[2021-10-08 21:43] DatenShi9 opened #21 "Server Crash"
Hello I have a problem with the armor on my server every time I put on an armor on the server it locks and closes the server says this Exception in server tick loop

java.lang.AbstractMethodError: Receiver class chronosacaria.mcda.items.ArmorSets does not define or inherit an implementation of the resolved method 'abstract java.lang.String method_7694 ()' of interface net.minecraft.class_1741.Is t

[2021-10-08 21:50] chronosacaria commented on #21
Could you send me the whole crash log? If I had the whole thing I would be able to diagnose what is happening and know things like what mods you have installed and what version you're on, for example

[2021-10-08 21:54] DatenShi9 commented on #21
ok ---- Minecraft Crash Report ----
// Hey, that tickles! Hehehe!

Time: 8/10/21, 3:59 p. m.
Description: Exception in server tick loop

java.lang.AbstractMethodError: Receiver class chronosacaria.mcda.items.ArmorSets does not define or inherit an implementation of the resolved method 'abstract java.lang.String method_7694()' of interface net.minecraft.class_1741.
	at net.minecraft.class_1738.hand

[2021-10-08 23:19] DatenShi9 commented on #21
the version is 1.17.1

[2021-10-09 03:28] AllenWorker commented on #20
Chilling Enchantment actual effect is active
player is moving really slowly and can not mine anything, the effect last forever unless log off

[2021-10-09 14:33] chronosacaria commented on #21
@DatenShi9
Okay, so after taking a look at this, there is something definitely messing with the backend of things. There are a lot of mods that, it would appear, are unnecessary as they are not dependencies for anything that I am aware of. Now, granted, I could be wrong, and if I am, please correct me. However, I am unable to reproduce this error with the following mods at their latest versions:

[2021-10-09 14:43] chronosacaria commented on #20
Thanks for clarifying that!

[2021-10-09 15:30] chronosacaria commented on #20
Okay, @AllenWorker. After messing about with this for a while, I think the solution will have to come from the other dev. There doesn't really seem to be a way for my mod to know what is going on so it might be easier for the other dev to clear negative status effects as well as negate damage via the mixin that they are using. I am sorry that there really isn't more that I can do. I'll wait for a

[2021-10-09 15:36] aapr commented on #21
Hello, i have this same issue, it only trigger on multiplayer servers. single player works as intended.
-----------------------------------

[11:19:41] [main/INFO]: Loading for game Minecraft 1.17.1
[11:19:42] [ForkJoinPool-1-worker-7/WARN]: The mod "extraalchemy" contains invalid entries in its mod json:
- Invalid entry in person "contribution" at line 19 column 21
[11:19:42] [main/WARN]: Warning

[2021-10-09 15:42] chronosacaria commented on #21
Do you happen to know what armour piece they put on? Or is it all armour like the other issue?

[2021-10-09 15:42] chronosacaria commented on #21
Also, thanks for the server log, that is insanely helpful!

[2021-10-09 16:46] chronosacaria commented on #21
Okay @DatenShi9 & @aapr, so that server log really made the difference. The issue appears to be with MCDA and LevelZ. I'll reach out to Globox_Z and see what can be done

[2021-10-09 16:49] aapr commented on #21
I believe its all armours, i tested with squid armour and just know with ocelot armour.
Here is my guess: the LevelZ ( rpg like mod )mod changes armour properties in a way that if you dont have the required stats you cant wear it, this apply to all armour and weapons except for mcd armors for some reason.

It seams to only care on the server side of things as in single player doesnt crash your cli

[2021-10-09 16:55] chronosacaria commented on #21
Ah, okay. I am familiar with LevelZ. I know that Globox_Z was working on fixing some serverside crashes and had recommended that people not use it a while back, but I didn't know if that had changed. I am filling out an issue report for them now and I'm sure that I'll hear back from them relatively quickly as they are pretty Johnny on the Spot with this kind of stuff

[2021-10-09 18:18] AllenWorker commented on #20
Are you able to reproduce the issue? so you are saying it's PvP toggle causing it? If that's the case I can try to find an alternative mod to achieve that. Thanks for the investigation.

[2021-10-09 18:29] chronosacaria commented on #20
I'm sorry, my messages are a bit erratic because I'm on holiday. I could absolutely see how the issue could be reproduced. I could not find a way around it

[2021-10-09 20:20] DatenShi9 commented on #21
In my case it is also only in multiplayer thank you if you can inform us when the problem is solved thanks

[2021-10-09 21:19] chronosacaria commented on #21
@DatenShi9 sure thing!

[2021-10-10 17:22] DatenShi9 commented on #21
Hello, good morning, does the other creator of the mod already have a solution?

[2021-10-10 17:59] chronosacaria commented on #21
Yep! I'm gonna attempt to fix it today and tomorrow 🙂

[2021-10-10 18:03] DatenShi9 commented on #21
What a great developer humile hahaha

[2021-10-10 19:20] chronosacaria commented on #21
@DatenShi9 & @aapr, I have resolved the issue of the crash and will be pushing out an updated version to CurseForge by the end of the night. Thanks, again, for bringing this issue to my attention :)

[2021-10-10 19:21] #21 closed, assigned to nobody

[2021-10-28 20:46] Julveria opened #22 "Piglins confused by Golden Piglin set"
https://user-images.githubusercontent.com/93348255/139332348-4b34f591-efd9-4349-8634-b491b2168a13.mp4

I know the set is supposed to confuse them, but this behaviour is a bit too much of a confusion. The piglins won't attack, but they will get aggro and de-aggro'ed rapidly when they see a player with Golden Piglin set, making a lot of noises and animations.

[2021-11-08 16:19] #22 closed, assigned to chronosacaria

[2021-11-09 20:50] NotPhantomRaze opened #24 "Im not sure how to put on the armor and yes im not a noob ive had this game since 2014"
so
![image](https://user-images.githubusercontent.com/84925342/141002385-896da8e0-f5da-436f-a931-d1bafcd3e98a.png)

its not letting me put on the armor that i crafted any suggestions?

[2021-11-09 21:39] chronosacaria commented on #24
@NotPhantomRaze Do you have any other mods installed that would prevent you from equipping armour? You should just be able to equip it. Could you provide a list of your mods, please?

[2021-11-12 21:23] chronosacaria commented on #24
I am lacking any usable information. Should I not receive anything by the end of the day, today, I'm going to have to close this issue

[2021-11-13 18:50] Flyvee opened #25 "Bag of souls have exploit with experience container mod."
The experience container mod from https://www.curseforge.com/minecraft/mc-mods/expcontainer is a mod where you can store experience in a barrel container and when you break it with silk touch axe, you gain the barrel with the stored experience but if it is broken with an axe without silk touch, it drops the barrel and the exp as exp orbs. The problem is that there is an exploit with the bag of sou

[2021-11-14 11:03] chronosacaria commented on #25
Thanks for letting me know about this. I can definitely look into this

[2021-11-14 11:05] #24 closed, assigned to nobody

[2021-11-22 01:38] HalestormXV opened #26 "Latest Version [mcda-1.8.0] Gourdian Armor Crashing Server"
Seems to be an issue with Gourdian Armor and what looks to be Iron Golems? Not exactly sure how, but it appears to be causing them to tick maybe? Here is the log.

https://www.toptal.com/developers/hastebin/osireluwin.yaml

Or perhaps entities are spawning with it equipped?

[2021-11-22 04:05] chronosacaria commented on #26
Thanks, mate! I'll be looking into this tomorrow!

[2021-11-23 05:48] SplendidAlakey commented on #26
The issue is not strictly related to golems. In my case the ticking entities that cause a crash are wither skulls (both blue and normal ones).

Logs: https://gist.github.com/Footage2-Amply-Pounce/840b936eb934713e08f76e0ba1f54265

[2021-11-23 19:53] #26 closed, assigned to chronosacaria

[2021-11-23 19:54] chronosacaria commented on #26
Forgot to close issue with last push to resolve issue

[2021-12-06 15:14] SolomonRex opened #27 "Teleportation Robes"
When using the Teleportation Robes, if the player looks down and teleports, sometimes they will warp through the earth to undergound caves and such

[2021-12-14 01:57] kazetaiga opened #28 "Posion focus dont have any effect"
the posion focus enchantment dont work at all

[2021-12-14 02:21] kazetaiga commented on #28
so does the fire focus

[2021-12-14 22:19] chronosacaria commented on #28
Poison Focus works with splash potions of poison, but you need to cause damage to the target first. Fire Focus requires that you to have Fire Aspect

[2021-12-17 03:01] chronosacaria commented on #28
These have both been tested and both are working in the latest version. As such, this issue shall be closed.

[2021-12-17 03:01] #28 closed, assigned to nobody

[2021-12-20 22:14] itsdinkd opened #29 "Mixin Conflict Crash with RPGStats [1.18.1]"
Latest version of RPGstats and MCDA on 1.18.1 Fabric causes potion mixin crash
https://github.com/P03W/RPGStats/issues/88
[code]

[2021-12-21 02:41] chronosacaria commented on #29
I'll touch base with P03W and see if we can fix this. Thanks, mate!

[2021-12-21 19:21] Kluzzio opened #30 "Potion Mixin for Troubadour"
Potions are unable to be drunk by anyone. The new Duration needs to be applied within the if statement that checks if the entity is wearing the armor. Currently because the newDuration is initialized to 0 and is unchanged before the call if the player is not wearing the armor, potion effects disappear immediately. Will be fixed in approx. 1 hour

[2021-12-21 21:00] #30 closed, assigned to nobody

[2021-12-26 03:45] Kluzzio opened #31 "Troubadour vs Troubadour's"
Everywhere in the code, it is troubadour as it should be because on the wiki the set is called the Troubadour. The actual pieces of armor are named Troubadour's ____ though.

[2021-12-26 03:51] Kluzzio commented on #31
Evocation Robe Chestplate Slot is called Evocation Robe Chestplate whereas Ember and Verdant Robe Chestplate slots are just called Robe rather than Robe Chestplate

[2021-12-26 04:43] Kluzzio commented on #31
Same as troubadour, Souldancer is written as Souldancer's in reference to the items

[2021-12-26 04:58] Kluzzio commented on #31
And also thief, same as souldancer and troubadour

[2021-12-26 09:09] SandaShiko opened #32 "Crashes when launching the game."
Hello, I have a big problem with the mods MC Dungeons Armors, MC Dungeons Weapons and MC Dungeons Artefacts. So when, i launch the game, it crashed with the message :

The game crashed whilst initializing game
Error: java.lang.RuntimeException: Could not execute entrypoint stage 'main' due to errors, provided by 'mcda'!

I test it in 1.17 and 1.18.

[crash-2021-12-26_09.56.53-client.txt](https://g

[2021-12-26 13:13] Kluzzio commented on #32
Cloth config https://www.curseforge.com/minecraft/mc-mods/cloth-config is one of the dependencies of MCDA. That is what is causing your crash. Installing cloth config will solve your problem. If your problem persists after making the change, please comment again.

[2021-12-26 13:14] #31 closed, assigned to chronosacaria

[2022-01-01 19:19] chronosacaria commented on #32
As there has been no response and the solution has been provided, this issue shall be closed

[2022-01-01 19:19] #32 closed, assigned to chronosacaria

[2022-01-09 04:18] Kluzzio commented on #25
Bag of Souls is now disable-able.
Souldance  Robe, which is to get an effect in a similar vein to Bag of Souls, will also be disable-able.

[2022-01-09 04:18] #25 closed, assigned to chronosacaria

[2022-01-09 04:45] #20 closed, assigned to nobody

[2022-01-09 04:50] Kluzzio commented on #1
As each armor will soon have a unique effect, be able to upgrade into a unique effect, be a base armor that one can craft early on if the materials are easy to acquire in that situation, or be either the Royal Guard armor or the Full Metal armor, each armor will have a unique reason to be crafted and thus the recipe rebalance is achieved.

[2022-01-09 04:50] #1 closed

[2022-01-15 21:18] #27 closed, assigned to chronosacaria

[2022-01-17 02:39] Kluzzio commented on #29
Because this was fixed with the change by P03W here: https://github.com/P03W/RPGStats/commit/5f96f7936304c32d366e302bbdf5e8b407d46f16
and Troubadour no longer uses a redirect which was implemented here: https://github.com/chronosacaria/MCDungeonsArmors/commit/21949b0c3e60fb8731c665886276b74197ffb18d
this issue will be closed.

[2022-01-17 02:39] #29 closed, assigned to chronosacaria

[2022-01-23 20:03] chronosacaria opened #33 "Bag of Souls Code seems to prevent xp from being gained on servers sometimes"
tested on server with xp bottles, all xp killed before arriving at player

[2022-01-23 22:10] Kluzzio commented on #33
From a little additional testing it seems to be very finicky on how much xp is actually given from an xp bottle. I observed anywhere from 2 segments to 100 levels with full Souldancer and Bag of Souls 3

[2022-01-24 18:23] Kluzzio commented on #33
Upon further inspection, MCDA is fine. This was an issue with MCDW

[2022-01-24 18:49] Kluzzio commented on #33
Upon further further inspection, this was just an issue in MCDW 4.0.0 as a result of likely the soul devourer enchantment. In any case, this is not an issue as of 4.0.2. Also My first comment was due to a temp change I made, but will not be an issue as far as can be seen. All is well, all is good

[2022-01-24 18:49] #33 closed, assigned to chronosacaria, Kluzzio

[2022-01-24 20:43] Kluzzio opened #34 "This is a test to see if Discord Webhook works"
Theoretically, discord should receive this

[2022-01-24 20:43] #34 closed, assigned to nobody

[2022-01-27 16:21] zachisfrank opened #35 "Infinite Death Glitch with Death Barter"
When doing the command /kill on a player with death barter and emeralds in their inventory it will make the player have zero health, unable to open any inventories  (all inventories immediatly close after openin) unable to be killed even with the /kill command and the walking animation is broken when they are in that state the only fix i know is to clear the player data. they cannot pick up items,

[2022-01-27 16:27] chronosacaria commented on #35
What version are you on? There should have been a template when you opened the issue. Not sure why you didn't use it

[2022-01-27 17:54] Kluzzio commented on #35
This issue does not exist in the current upcoming release as there is a clear check if the source of death is void for which the kill command is. That being said, if you could use the template in the future, it is very useful if we have all the information that you have so we can determine what exactly the issue is. If you could provide a version number and clear steps to reproduce the issue, we c

[2022-02-01 18:26] #35 closed, assigned to nobody

[2022-02-04 12:55] TristanKing0 opened #36 "Server crash"
Server crashed.

One player online fighting Piglins in the Nether.

Latest version of the mod on latest version of Fabric 1.18.1.

[code]

[2022-02-04 13:34] chronosacaria commented on #36
We will definitely take a look at this. Thanks for reporting it

[2022-02-04 18:04] #36 closed, assigned to chronosacaria, Kluzzio

[2022-02-05 07:02] ThinkWithPbody opened #37 "Arctic Fox Leggings model not showing"
1.18.1 Fabric with sodium and iris shader, if that's relevant. Using latest version of mcda.
Using cosmetic armour and a bunch of other mods too.

When equipped (normal or cosmetic slot) all pieces but the arctic fox leggings show their model. The pants part of the character render as transparent.

[2022-02-07 18:44] chronosacaria commented on #37
This is actually just the way that the texture artist (SeaOfPixels) did the texture. There is no rendering issue, but I appreciate you bring it to our attention :)

[2022-02-07 18:44] #37 closed, assigned to chronosacaria, Kluzzio

[2022-02-09 18:33] itsdinkd opened #38 "[1.18.1] Hungry Horror Armor and Guardian Gourd crash"
Players of my modpack, another quality modpack 2, have been reporting that they are crashing when using Hungry Horror Armor, and some others if placed in cosmetic slot as mentioned in the issue  https://github.com/itsdinkd/AQM2/issues/122

https://pastebin.com/0176NGEk

[2022-02-09 20:42] chronosacaria commented on #38
@itsdinkd I tested MCDA 2.0.1 and the latest version of Cosmetic Armour with the latest version of Trinkets and could not reproduce this issue. It looks like there is some other conflict happening. It also appears from the crash log that it might be on Cosmetic Armour's end
`at net.minecraft.class_970.cosmeticarmor$renderArmor(class_970.java:595)`

[2022-02-10 00:32] itsdinkd commented on #38
Quite possible then there is something else conflicting. I will open up a ticket with cosmetic armor and go from there. Hoping it's a simple fix and not another mod causing issues. This is the downfall of having too many mods.

[2022-02-11 18:02] Globox1997 commented on #17
Good job here: [https://github.com/chronosacaria/MCDungeonsArmors/blob/1.18/src/main/java/chronosacaria/mcda/mixin/ServerPlayerEntityMixin.java#L24](https://github.com/chronosacaria/MCDungeonsArmors/blob/1.18/src/main/java/chronosacaria/mcda/mixin/ServerPlayerEntityMixin.java#L24)
:D

[2022-02-11 18:02] #17 closed, assigned to nobody

[2022-02-15 12:35] Kluzzio commented on #38
Since this is an issue on Apace's end here: https://github.com/apace100/cosmetic-armor/issues/11
and Apace is well aware of this issue and just has yet to deal with it, this issue will be closed.
It is also noteworthy that this is not an issue that occurs solely, with MCDA, but also Bewitchment as mentioned here: https://github.com/apace100/cosmetic-armor/issues/12

[2022-02-15 12:35] #38 closed, assigned to chronosacaria, Kluzzio

[2022-02-22 20:12] Somiona opened #40 "[Feature Request] Make Armour Fixable by any chance"
**Is your feature request related to a problem? Please describe.**
I'm always wondering if I can fix the armor when they're worn out instead of simply throw them away

**Describe the solution you'd like**
It could be nice if I can fix them using anvil.

**Describe alternatives you've considered**
It would be also a nice solution if a separate work bench can be used for this feature

**Additional c

[2022-02-23 15:12] Kluzzio commented on #40
Yep, armor is indeed fixable! You can see what the repairing material for each set is on the Stats and Recipes page of the wiki @Somiona. You repair them on the anvil as you described.

[2022-02-23 15:12] #40 closed, assigned to chronosacaria, Kluzzio

[2022-02-23 15:24] Somiona commented on #40
If it should be fixable by anvil as you said, I think it’s not functioning properly in my game. I tried to fix but the durability does not change at all though it successfully deducted my xp.
I think there might be some compatibility issues happening
2022年2月23日 +0800 23:12 Kluzzio ***@***.***>，写道：

[2022-02-23 16:13] chronosacaria commented on #40
@Somiona, you didn't mention what version you're using. Also, it sounds like there is another mod that is conflicting and causing the issue. In the latest version of MCDA, as mentioned by Kluzzio, the armour is repairable

[2022-03-03 08:03] Somiona commented on #40
![image](https://user-images.githubusercontent.com/20739885/156520190-f59ecdde-7791-448c-91b1-3cc74cb7418a.png)
![image](https://user-images.githubusercontent.com/20739885/156520210-3d1a3364-8590-48d0-9c5f-c86b042cea41.png)
I'm not sure if this was intended or a bug, actually I have not played Minecraft: Dungeon yet.
I'm running MC 1.18.1 with Fabric 0.13.3 and Fabric-api 0.46.4 and MCDA 2.0.3
Her

[2022-03-09 01:37] SpringDill opened #41 "it wont open the server"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Please complete the following inform

[2022-03-09 01:38] chronosacaria commented on #41
@SpringDill You have provided absolutely no information. Please provide some information about this issue or it will have to be closed.

[2022-03-09 16:55] chronosacaria commented on #41
@SpringDill As no further information has been provided, this issue shall be closed.

[2022-03-09 16:55] #41 closed, assigned to chronosacaria, Kluzzio

[2022-03-11 21:08] FumpleWumper opened #42 "Server crashes when any player joins"
**Describe the bug**
A server that has the mod included can load the world and stay open, but will crash as soon as a player joins. This no longer happened when that mod and that mod only was removed from the modpack the server was using

**To Reproduce**
Steps to reproduce the behavior:
1. Install the mod in a multiplayer server
2. Run it
3. Player joins
4. Server crashes

**Expected behavior**
F

[2022-03-11 21:20] chronosacaria commented on #42
Thank you for this issue report. I will not be able to look into this until Monday, unfortunately, though

[2022-03-12 20:06] FumpleWumper commented on #42
That's okay I am planning to use the mod again whenever it is fixed, thank you for the warning though

[2022-03-20 20:03] ThinkWithPbody opened #43 "mcda causes "connection lost, internal server error" when a player joins a server"
Player gets "connection lost, internal server error" when trying to join a server with mcda. Removing mcda (keeping mcdar and mcdw) fixes the problem.
Might be related to #42, but the server usually does not crash. When I try to rejoin many times it might crash, but I can't reproduce that anymore.

Server log when a player joins:
`[15:58:08] [User Authenticator #1/INFO]: UUID of player 30_Salt is

[2022-03-22 15:17] #42 closed, assigned to chronosacaria, Kluzzio

[2022-03-22 15:18] #43 closed, assigned to chronosacaria, Kluzzio

[2022-04-05 12:16] Kluzzio commented on #12
Finally done in this commit: https://github.com/chronosacaria/MCDungeonsArmors/commit/2a9c357d51457c56dc51564a6af6d72e778d7440
Praise be!

[2022-04-05 12:16] #12 closed, assigned to chronosacaria

[2022-05-02 23:31] Leon-DLL opened #44 "Blue Ice still gives Frost Crystals while using Silk Touch"
**Describe the bug**
While using the Silk Touch enchantment, Blue Ice still drops Frost Crystals when mined.

**To Reproduce**
Steps to reproduce the behavior:
1. Get Pickaxe with Silk Touch Enchantment
2. Use on Blue Ice
3. Get Blue Ice and Frost Crystal

**Expected behavior**
Silk Touching Blue Ice should not spawn Frost Crystals

**Screenshots**
https://i.imgur.com/flGzPQh.png

**Please complet

[2022-05-04 20:31] Leon-DLL opened #45 "[Feature Request] Add "Set Bonus: X" or "While Worn: X""
**Is your feature request related to a problem? Please describe.**
The mod does not clearly explain to the player that there are Set Bonuses or what they do

**Describe the solution you'd like**
A blurb to the tooltip about what each set bonus does on the appropriate piece/armor

**Describe alternatives you've considered**
Just adding the name of the set bonus to the armor like the Beestinger from

[2022-05-10 18:49] AragoonKappa opened #47 "Bag Of Souls not working with the following mods installed"
Pretty much the title. I get the exact same amount of experience when mining blocks of quartz, whether I have Bag Of Souls 3 or not.

Mods are as the following :

        - additionalbanners 7.0.4
	- additionalentityattributes 1.0.0+1.18.2 via spectrum
	- advanced_runtime_resource_pack 0.5.7 via modern_industrialization
	- advancednetherite 1.4.1-1.18.2
	- adventurez 1.4.10
	- alloy_forgery 2.0.11

[2022-05-24 23:16] Kluzzio commented on #47
Our bag of souls and souldancer experience is incompatible with clumps. This is because clumps bypasses the Minecraft experience code as you might expect. We will not be making an exception for this.

[2022-05-29 10:06] ghost opened #48 "[Feature Request] LevelZ compatibility"
**Is your feature request related to a problem? Please describe.**
Adventure/RPG modpacks always use LevelZ to define player stats and allow some items only when you reach some level. But MCDA breaks the level system because it doesn't have the level feature (like MC Dungeons Weapons have), which is unfortunately since the MCDA armors have such cool passive abilities and diversified crafts.

**Des

[2022-05-29 12:01] chronosacaria commented on #48
Hmmm. I thought we had done that for MCDA when we did it for MCDW. We'll look into getting that squared away. Thanks for mentioning it!

[2022-05-30 08:35] Kluzzio commented on #48
I am fairly confident that MCDA is already compatible with LevelZ. It was discussed here: https://github.com/chronosacaria/MCDungeonsWeapons/issues/93

[2022-05-30 18:09] BelisariusMC commented on #48
I'm using MCDA 2.0.6 for 1.18.2 (latest on CurseForge) and the armors doesn't show any info on LevelZ stats nor blocks it use for players that don't have defense stats, besides the Turtle Set which is the only one that has the feature.

[2022-05-30 18:10] ghost commented on #48
I'm using MCDA 2.0.6 for 1.18.2 (latest on CurseForge) and the armors don't show any info on LevelZ stats nor blocks the use for players that don't have defense stats, besides the Turtle Set which is the only armor that has this feature.

[2022-05-31 18:58] Kluzzio commented on #48
In the case of LevelZ, compatibility is in the hands of the end user. You achieve this using data packs and there are examples of how this can be achieved with MCDA in the link that I sent, and there are more general examples in the README.md of LevelZ which can be found here: https://github.com/Globox1997/LevelZ . Because data packs are unique to each servers' needs, we can not provide you a data

[2022-05-31 18:58] #48 closed, assigned to chronosacaria, Kluzzio

[2022-05-31 19:00] Kluzzio commented on #44
1.19 is adding direct implementation for support for exactly this it seems. So when we are able to use the corresponding API, we will be switching from the deprecated to the new and this issue will be resolved.

[2022-06-07 21:53] #44 closed, assigned to chronosacaria, Kluzzio

[2022-06-07 21:53] #45 closed, assigned to chronosacaria, Kluzzio

[2022-06-17 04:51] chronosacaria opened #49 "Potential Server Crash on Loot Generation related to Mystery Armour"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
There doesn't appear to be any consistent way to reproduce the issue; however, it seems that whenever there is a chance for Mystery Armour to generate, there is a watchdog crash. I've only been able to get this to happen on servers.

**Expected behavior**
Loot to generate wit

[2022-06-17 12:29] chronosacaria commented on #49
Never mind. This was a bug in Terralith, not MCDA

[2022-06-17 12:29] #49 closed, assigned to chronosacaria, Kluzzio

[2022-07-04 23:25] notdynae opened #50 "Surprise Gift enchantment giving broken potion bottles"
Using Surprise Gift III enchantment gives "uncraftable potion" with no effects

Steps to reproduce the behavior:
1. Enchant armour with surprise gift III
2. drink health potion

It is expected to give either other usable potions

**Please complete the following information:**
 - OS: Windows
 - Default
 - 2.0.6
 - Yes / No [broken on both aqmp2 and mod on its own]

[2022-07-06 06:33] HeatUp0 opened #51 "Noise Canceling Armor!"
**Is your feature request related to a problem? Please describe.**
Yes, currently in the game is there is no real way to safely loot a deep dark other than sneaking and stocking up on wool which can both take time and be irritating to do.

**Describe the solution you'd like**
This idea I have would introduce a new set of armor to the game, wool armor based on sheep, which as a full set bonus would

[2022-07-08 07:18] Biot0p opened #52 "Gravestone Mods and Gilded Glory Set Bonus Bug"
**Describe the bug**
When you die while Gilded Glory's set bonus is active with gravestone mods
the grave won't appear and you'll lose all your items.

I have only tried this with Forgotten Graves and You're in Grave Danger mod.
both had the same result where once you die with the Gilded Glory's set bonus is active
the gravestone mod will not notify you that you die.

**To Reproduce**
Gilded Glory

[2022-07-08 23:21] chronosacaria commented on #52
Thank you, so much, for bringing this to our attention. It turned out to not be a compatibility issue, but an actual bug within MCDA. This has been resolved, now :)

[2022-07-08 23:25] chronosacaria commented on #52
https://github.com/chronosacaria/MCDungeonsArmors/commit/e6f3e7732ba4cf6a105b6ad9950e0bb9c2c2e039

[2022-07-08 23:25] #52 closed, assigned to chronosacaria, Kluzzio

[2022-07-10 18:45] jaredlll08 commented on #47
Clumps author here, I only got told about this issue today.

If you would like, I can post an event that would let you change `value` over here:
https://github.com/jaredlll08/Clumps/blob/8350f5bc4c43713a002202f460c79cd14b2969b4/Common/src/main/java/com/blamejared/clumps/mixin/MixinExperienceOrb.java#L84

You could then use a mixin config to disable your mixin if Clumps is installed (or leave it, i

[2022-07-11 12:33] chronosacaria commented on #47
Hey @jaredlll08! We're all on holiday right now, but will be back next week. We'll talk it over and see if the event is something that we would use and then get back to you. Thank you, so much, for reaching out and offering to do that

[2022-07-14 16:23] Kluzzio commented on #50
Fixed in this commit: https://github.com/chronosacaria/MCDungeonsArmors/commit/3910169dfe38de9f1a283c28fc8bf74ead293c77

[2022-07-14 16:23] #50 closed, assigned to chronosacaria, Kluzzio

[2022-07-18 14:26] chronosacaria commented on #47
Hey @jaredlll08! We're finally back from holiday! We would, absolutely, be interested in using an event from Clumps if you'd be willing to set something like that up so that we have compatibility. :)

[2022-07-19 22:31] jaredlll08 commented on #47
If I understand how you use your mixin correctly, this should be able to replace it if Clumps is present

1.18: https://github.com/jaredlll08/Clumps/commit/0f6b7c46827da8cde6aff8261a4d69d5b646d10b
1.19: https://github.com/jaredlll08/Clumps/commit/a4169bd116610dcd493b625f2b4c3dc1c1d82329

[code]

Give it a go and let me know if you need anything else

[2022-07-26 14:32] Kluzzio commented on #47
Would you be able to pass in the player as a parameter in your call to fire the event? We have some logic that requires that we have the player. We only need the amount of experience (which you already provided) and the player. So if you can do that, or point us to a way that we can get the player without you needing to do that, that'd be great! If there is a way to get the player already on our s

[2022-07-26 16:47] jaredlll08 commented on #47
It completely slipped my mind to give the player 😅

1.18: https://github.com/jaredlll08/Clumps/commit/ec51b36f3f96388c76a6f19b2a51ebf79823bb3b
1.19: https://github.com/jaredlll08/Clumps/commit/f328b12d71d23f117dbeafbd984dd8e14199db62

Let me know if there is anything else you need

[2022-07-27 14:21] #47 closed, assigned to nobody

[2022-07-27 14:22] Kluzzio commented on #47
All done, and will be in next release. Thanks Jared!

[2022-07-27 16:42] jaredlll08 commented on #47
Looks good, just a heads up, Clumps is published to https://maven.blamejared.com
https://maven.blamejared.com/com/blamejared/clumps/Clumps-fabric-1.19/

No need to use curse maven

[2022-07-28 00:58] chronosacaria commented on #47
Ohh okay. That's good to know. It worked out, though, since I got to teach Kluzzio about how to use CurseMaven. We'll make it a point to update it, though since it makes a lot more sense to use your maven

[2022-08-12 23:22] skyman7788 opened #55 "Bag of Souls and Souldancers experience doesn't seem to be working"
In the Medieval MC Fabric mod pack, I tested wearing Souldancer armor enchanted with BoS 3, Leather Armor with BoS 3, Unenchanted Souldancer armor, and no armor and gained the same amount of XP from killing 5 wither skeletons each time.

The Souldancer armor and BoS enchant should increase experience gained, but they do not seem to.

**Please complete the following information:**
 - OS: Windows
 -

[2022-08-12 23:23] chronosacaria commented on #55
This issue is caused by an incompatibility with Clumps. It will be fixed in the next release of MCDW and MCDA as they both suffer from the issue

[2022-08-12 23:24] skyman7788 commented on #55
Thank you for the quick response

[2022-08-12 23:24] #55 closed, assigned to chronosacaria, Kluzzio

[2022-08-24 06:32] purejosh opened #56 "Error loading class: net/minecraft/class_970"
[code]

Minecraft 1.19.2 with Fabric Loader 0.14.9
mcda 2.1.1

[2022-08-24 06:35] chronosacaria commented on #56
This is just a warning and nothing that the end user needs to be concerned about. Furthermore it was corrected with the following commit which will be part of the next release: https://github.com/chronosacaria/MCDungeonsArmors/commit/d6d2a55fa9e3f30ba3fd8c80c62c2f71b23860be

[2022-08-24 06:35] #56 closed, assigned to chronosacaria, Kluzzio

[2022-08-24 06:37] purejosh commented on #56
Thank you.

[2022-09-04 00:19] Nline2Blast opened #57 "can craft on server but can in single player"
i have a third party server running 1.19 fabric and the ezact same mods and data packs on my pc and i can craft the items in single player and am unable to even pull up the info to craft in REI...

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to h

[2022-09-04 00:22] chronosacaria commented on #57
I am not typically this direct, but: You've made a mistake. Check your mods on your server. You are missing something. This is not the fault of MCDW. Furthermore you did not completely fill out the form nor did you include images of your mod folders on your server and client. As such, this issue shall be closed.

[2022-09-04 00:22] #57 closed, assigned to chronosacaria, Kluzzio

[2022-09-05 15:56] chronosacaria opened #58 "Add Ability to Disable Amours [Feature Request]"
**Is your feature request related to a problem? Please describe.**
No, this is a feature that should be implemented though for consistency across MCDX

**Describe the solution you'd like**
Armours should be able to be enabled and disabled by the end user

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-09-05 19:09] Nline2Blast commented on #57
I'm sorry you right and you are also awesome! I apologize,  there were two
server instances and I accidentally installed the mod in the server I was
not using.. I apologize for not giving more info,  I did not see the place
that requested it. You mod is great and I really your work on it. Thank you
for the reply and response.

Have a great day

Helping you, Make It Your Way!

Ryan McClure
Cell 757

[2022-09-15 18:59] Bob74 opened #60 "Is it normal for tall hats to be flat?"
**Describe the bug**
Maybe this is a known behavior but I didn't find anything about that yet.
Hats and helmets are "flat". The ones supposed to be tall are displayed as flat as a vanilla helmet, only with a different texture.

**To Reproduce**
Steps to reproduce the behavior:
1. Get an "Evocation Hat"
2. Put the hat on the player

**Expected behavior**
A tall sorcerer like hat:
![image](https://u

[2022-09-15 19:34] chronosacaria commented on #60
@Bob74 At this time, this is the intended texture as we do not have 3D textures for these armours. If you or someone you know can provide the means for such armours, we would be most grateful :)

[2022-09-15 19:36] Bob74 commented on #60
All right, just wanted to be sure it wasn't a rendering issue :)
Thank you for your answer, and continue your great work!

[2022-09-17 09:34] #60 closed, assigned to chronosacaria, Kluzzio

[2022-09-26 03:21] FSKiller opened #61 "[Feature Request]: Apply the GlowSquid status "WaterBreathing" even while on land"
### Is your feature request related to a problem? Please describe.

I'm playing with a modpack called Medieval Minecraft, this modpack contains this mod and the origins mod that allows the user to choose a merling race. This race lives underwater and cannot breathe outside of it, BUT all the effects that apply to a normal player like Respiration III and Water Breathing from potions allow the merli

[2022-09-26 04:03] chronosacaria commented on #61
Oh, that's interesting. I didn't realise that. I'll talk to Kluzzio about seeing what we can do about something like this

[2022-09-26 04:07] FSKiller commented on #61
Thank you for your consideration :D

[2022-10-29 05:26] Metalteuffel opened #62 "Bag of Souls enchantment doesnt work"
Similar to Soul Devourer, all 3 levels of Bag of Souls doesn't increase the amount of exp gained from kills, crafting, or disenchanting items

[2022-10-29 05:28] chronosacaria commented on #62
@Metalteuffel You're either using an outdated version of the mod or something is wrong on your end. Please fill out the issue report properly, with the appropriate information as found [here](https://github.com/chronosacaria/MCDungeonsArmors/issues/new/choose). Otherwise we cannot help you.

As the issue report was filled out incorrectly and lacks the necessary information to pursue a solution, it

[2022-10-29 05:28] #62 closed, assigned to nobody

[2022-10-29 20:42] Metalteuffel opened #63 "[Bug Report]: Soul Devourer enchant not working"
### Describe the bug; What happened?

Have Soul Devourver 3 on a Diamond Longsword, killing any mobs regardless of level only gives 3 or 7 exp

### Expected Behavior

When killing mobs, should be getting more than 3 or 7 exp

### Mod Version

5.0.4

### Minecraft Launcher

CurseForge

### Operating System

Windows

### Modpack

_No response_

### Additional context

_No response_

[2022-10-30 08:26] Kluzzio commented on #63
You are clearly not filling out all of thin information that you have. Clumps is the only thing that would cause soul devourer to not give extra experience, but we put in compatibility with that. Please update to the latest version of Clumps. With that fix in mind, we are not able to reproduce this issue (we have spent a lot of time resolving this mod conflict in the past).

[2022-10-31 22:29] Kluzzio commented on #63
Due to lack of response and incomplete information, this issue is being closed.

[2022-10-31 22:29] #63 closed, assigned to chronosacaria, Kluzzio

[2022-11-13 16:17] Emalcat commented on #60
Hi
I don't know if it could be useful, but I managed to extract from the game the models and textures of this item. I can send them to you if you want

[2022-11-13 21:41] chronosacaria commented on #60
@Emalcat We are in no way, shape or form interested in pirated content. We do not support what you have done and condemn the practice in its entirety.

[2022-11-14 08:07] Emalcat commented on #60
yeah, I agree
it's legally iffy to use assets from a game you don't own the rights to
sorry for bothering you